@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SearchRequest

<h1>Search!</h1>
<h4>Two options below:</h4>
<hr />
<div>
    <form asp-action="SearchResultTitle">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Search by Title" class="btn btn-primary" />
        </div>
    </form>

</div>

<div>
    <form asp-action="SearchResultGenre">
        <div class="form-group">
            <label asp-for="Genre" class="control-label"></label>
            <select asp-for="Genre" asp-items="Html.GetEnumSelectList<MovieGenre>()" class="form-control"></select>
        </div>
        <div>
            <input type="submit" value="Search by Genre" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


