@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SearchResult

<h1>Genre Search Results</h1>
<h4>Here's a list of @Model.Genre movies:</h4>

<div>
    <ul>
        @foreach (var movie in Model.MovieList)
        {
            <li>@movie.Title</li>
        }
    </ul>
</div>
